/*Rufus*/
/*changes the colour of the footer*/
footer {
    background-color: grey;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/*Formats the <h3> text in the footer*/
.footer-h3 {
    font-family: sans-serif;
    color: #ffffff;
}

/*Formats the <p> text in the footer*/
.footer-p {
    font-family: sans-serif;
    color: #ffffff;
    margin-bottom: 0px;
}

/*formats the links in the footer*/
.footer-link {
    color: #ffffff;
    text-decoration: underline;
}

/*changes the colour of the link when hovered on by the mouse*/
.footer-link:hover {
    color: lightblue;
}

/*resizes the logo*/
.footer-logo {
    width: 15%;
    height: 15%;
}